<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
<style>
    body,html{
        font-family: YuMincho, sans-serif;
        background:black;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-flow:nowrap;
    }
</style>
<div style="text-indent:1em;color:white;text-shadow:1px 1px 0 black;background-image:linear-gradient(90.75deg,#3d63e8 -6.61%,#5e3de8 4.61%,#e74b90 89.14%,#ed7a7a 107.65%);; box-shadow:2px 2px 4px white,-2px 2px 4px white;">
<div th:each="post : ${posts}">
    <div th:if="${postId == post.id}">
        <h1>Title:</h1>
        <h2><div th:text="${post.title}"></div></h2>
        <h2>Post:</h2>
    <h2><div th:text="${post.body}"></div></h2>
        <a href="/posts/1" style="color:white;text-decoration: none;font-size:2em;"> 1</a><a href="/posts/2" style="color:white;text-decoration: none;font-size:2em;"> 2</a><a href="/posts/3" style="color:white;text-decoration: none;font-size:2em;"> 3</a>
    </div>
</div>
</div>
</body>
</html>