<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<style th:replace="partials/header-footer :: header-footer-style"></style>

<style >
    /*body,html{*/
    /*    font-family: YuMincho, sans-serif;*/
    /*    background:white;*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    flex-flow:nowrap;*/
    /*    overflow-y: hidden;*/
    /*}*/
</style>

<nav th:replace="partials/header-footer :: navbar"></nav>

<section style="text-indent:1em;color:black;background-image:linear-gradient(90.75deg,#3d63e8 -6.61%,#5e3de8 4.61%,#e74b90 89.14%,#ed7a7a 107.65%); box-shadow:2px 2px 3px black,2px -2px 3px black,-2px -3px 4px black;">
<div th:each="post : ${posts}">

    <div th:if="${postId == post.id}">
        <h1>Title:</h1>
        <h2><div th:text="${post.title}"></div></h2>
        <h2>Post:</h2>
    <h2><div th:text="${post.body}"></div></h2>
    </div>
</div>

</section>
<section style="display: flex;position: absolute;top: 30%;left: 50%;"><a href="/posts/1" style="color:white;text-decoration: none;font-size:2em;"> 1</a><a href="/posts/2" style="color:white;text-decoration: none;font-size:2em;"> 2</a><a href="/posts/3" style="color:white;text-decoration: none;font-size:2em;"> 3</a></section>
<footer th:replace="partials/header-footer :: footer"></footer>
</body>
</html>