<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dice Game</title>
</head>
<body>
<style>
  body,html {
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-content: center;
    background: #a1a1;
    color:white;
    text-shadow: 1px 1px 0 cyan;
  }
</style>

<h3>Your guess: <span th:text="${guess}"></span></h3>
<h3>Dice: <span th:text="${roll}"></span></h3>

<h2 th:text="if(${guess == roll ? 'You guessed it' : 'Try Again'})"></h2>

</body>
</html>